.mainBlock {
    min-height: 100vh;
    background-color: rgba(95, 158, 160, 0.62);
}

.info {
    width: 400px;
    background-color: cadetblue;
}
.photo {
    width: 300px;
    height: 450px;
    background-color: cadetblue;
}